@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&family=Poppins:wght@300;400;500;600&display=swap');



:root{
    --white:hsl(252, 30%, 100%);
    --light:hsl(252, 30%, 95%);
    --gray:hsl(252, 15%, 65%);
    --primary:hsl(252, 75%, 60%);
    --secondary:hsl(252, 100%, 90%);
    --success:hsl(120, 95%, 65%);
    --danger:hsl(0, 95%, 65%);
    --dark:hsl(252, 30%, 17%);
    --black:hsl(252, 30%, 10%);

    --border-radius:2rem;
    --card-border-radius:1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem ;

    --top-left:5.4rem;
    --top-right:-18rem;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}
body{
    font-family: 'Poppins', sans-serif;
   color: var(--dark);
    overflow: hidden;
    background: var(--light);

}

/* =====general style======== */

.container{
    width: 80%;
    margin: 0 auto;
}
.profile-pic{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
img{
    display: block;
    width: 100%;
}
.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}
.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background: var(--primary);
    color: white;
}
.tex-bold{
    font-weight: 500;
}
.tex-mutd{
    color: var(--gray);
}

nav{
    width: 100%;
    background: var(--white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .search-bar{
    background: var(--light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}
nav .search-bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--dark);
}
nav .search-bar input[type="search"]::placeholder{
    color: var(--gray);
}
nav .create{
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* ================main============= */
main{
    position: relative;
    top: 5.4rem;
}
main .container{
    display: grid;
    grid-template-columns: 18vh auto 20vw;
    column-gap: 2rem;
    position: relative;
}
main .container .left{
    height: max-content;
    position: sticky;
    top: var(--top-left);

}
main .container .left .profile{
    padding: var(--card-padding);
    background: var(--white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

